# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\jaedo\Downloads\startbootstrap-modern-business-gh-pages\startbootstrap-modern-business-gh-pages\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
